.header {
    margin-left: 50px;
    margin-top: 40px;
    font-size: 20px;
}

.container p, h1, button {
    margin-left: 50px;
}

.about {
margin-top: 70px;    
font-size: 20px;
color: #F51AA4;
}

.mentor {
    margin-top: 30px;
    font-size: 50px;
}

.text {
    font-size: 20px;
}

.button-container {
    display: flex;
    margin-top: 30px;
  }
  
  .btn-contact,
  .btn-about {
    background-color: #F51AA4;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-about {
    background-color: #f2f2f2; /* Defina a cor cinza claro para o botão "Saiba Mais" */
    color: #333; /* Defina a cor do texto do botão "Saiba Mais" */
  }
  
  .btn-contact:hover,
  .btn-about:hover {
    background-color: #F51AA4;
  }
  
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#F51AA4;
    clip-path: circle(800px at right 100px);
  }